{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "문의" %}{% endblock %}
{% block content %}<h1>{% trans "문의 및 문제 보고" %}</h1><p>{% blocktrans %}문제 보고와 제안은 GitHub 저장소의 <a href="https://github.com/jikhanjung/EarthThruTime3D/issues" target="_blank" rel="noopener">Issues</a>에 남겨 주세요. 이슈를 올릴 때 아래 정보를 함께 적어 주시면 확인이 빠릅니다.{% endblocktrans %}</p><ul><li>{% blocktrans %}앱 버전: {{ version }}{% endblocktrans %}</li><li>{% trans "사용한 브라우저와 운영체제" %}</li><li>{% trans "문제가 발생한 페이지와 재현 순서" %}</li></ul>{% endblock %}
